*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set font family */
body {
    font-family: 'EB Garamond', serif;
  }
  
  /* Set background color gradient */
body {
    background: linear-gradient(to bottom, #f8c878, #f2e5c5 );
}

/* Style header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1rem;
}

header h1 { 
    color: #ffd700;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #ffd700;
}

/* Style main */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

main section {
    margin-bottom: 2rem;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

main p {
    line-height: 1.5;
}

/* Set section colors */
.gold {
    color: gold;
}


/* Style footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


.card {
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.gray {
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 0px gray;
    width: 35%;
}
  
.gray h2,
.gray p {
    color: white;
}

/* Style welcome section */
.welcome {
    text-align: center;
    margin: 2rem auto;
    max-width: 600px;
}

.welcome img {
    width: 100%;
    margin: 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.welcome h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.welcome p {
    line-height: 1.5;
}

a {
    color: white;
    text-decoration: navajowhite;
    font-size: larger;
}

a:hover {
    color: white;
    font-size: larger;
}

.teks{
    padding-bottom: 7%;
}
  
  
  
  
  
  